﻿/*

    THIS CSS IS ONLY FOR A8HTMLTABLE EDITOR AND NOT FOR FRONTEND!

*/

.a8-table-wrapper .a8-table-content table {
    border: collapse;
    width: 100%;
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    table-layout: fixed;
}

    .a8-table-wrapper .a8-table-content table th,
    .a8-table-wrapper .a8-table-content table td {
        border-bottom: solid 1px #c0c0c0;
        border-right: solid 1px #c0c0c0;
        padding: 5px;
        height: 1.5em;
        min-height: 1.5em;
        text-align: left;
        vertical-align: top;
        word-break: break-all;
    }

.a8-table-wrapper textarea {
    display: none;
}

.a8-table-wrapper div.a8-table-paste {
    height: 100px;
    padding: 10px;
    border: solid 1px #c0c0c0;
    margin-top: 10px;
    overflow: scroll;
}

.a8-table-wrapper div.a8-table-paste-top-button {
    text-align: right;
    margin: 10px 0;
}

.a8-table-wrapper div.a8-table-paste-top-button a {
    cursor: pointer;
}

.a8-table-wrapper div.a8-table-paste-bottom-button {
    text-align: right;
    margin: 10px 0;
}
