﻿<div ng-controller="A8.HtmlTableController">
    <div id="a8TableWrapper-{{timestamp}}" data-ident="{{timestamp}}" class="a8-table-wrapper">
        <div id="a8TableContent-{{timestamp}}" class="a8-table-content"></div>
        <textarea ng-model="model.value" class="a8-table-textarea"></textarea>
        <div class="a8-table-paste-top-button">
            <a ng-click="doToggle(ngToggle)" class="ng-binding a8-table-paste-top-button">Import</a>
        </div>
        <div id="a8TablePasteContainer-{{timestamp}}" ng-show="ngToggle">
            <div id="a8TablePaste-{{timestamp}}" class="a8-table-paste" contenteditable="true" ng-model="tablePaste"></div>
            <div class="a8-table-paste-bottom-button">
                <a ng-click="doImport('{{timestamp}}')" class="btn umb-button__button btn-success umb-button-- a8-table-paste-bottom-button">
                    <span class="umb-button__content">
                        Import
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
