﻿<div ng-controller="A8.A8DictionaryPickerControllerMulti">
	<select ng-model="model.value" size="5" multiple>
		<option ng-repeat="x in options" value="{{x.Value}}" ng-selected="isSelected(x.Value)">{{x.Value}}</option>
	</select>
</div>
