﻿@using Umbraco.Web.Models
@using System.Text;

@model A8.PageBaseModel
@{
    //
}

@helper DrawMenuLevel(IEnumerable<IPublishedContent> children, int level)
{
    if (children != null && children.Any())
    {
        <ul>
            @foreach (IPublishedContent child in children)
            {
                IEnumerable<IPublishedContent> subChildren = child.Children(x => x.IsVisible() && !x.GetPropertyValue<bool>("hideInMenu"));

                <li @Html.Raw(Model.Content.Path.Split(',').Contains(child.Id.ToString()) ? "class=\"current-menu-item page_item current_page_item\"" : "")>
                    <a href="@(child.Url)"><span>@(child.Name)</span></a>
                    @DrawMenuLevel(subChildren, level + 1)
                </li>
            }
        </ul>
    }
}

<nav id="menu">
    <ul id="menu-main-menu" class="menu menu-main">

        @{
            // content menu
            // ------------
            IEnumerable<IPublishedContent> items = Model.SiteSettingsContent.GetPropertyValue<IEnumerable<IPublishedContent>>("firstLevelMenuItems");
            if (items != null && items.Any())
            {
                foreach (IPublishedContent item in items)
                {
                    IEnumerable<IPublishedContent> children = item.Children(x => x.IsVisible() && !x.GetPropertyValue<bool>("hideInMenu"));

                    <li @Html.Raw(Model.Content.Path.Split(',').Contains(item.Id.ToString()) ? "class=\"current-menu-item page_item current_page_item\"" : "")>
                        <a href="@(item.Url)"><span>@(item.Name)</span>@Html.Raw(children.Any() ? "<span class=\"submenu-indicator\"><i class=\"fa fa-plus\"></i></span>": string.Empty)</a>
                        @DrawMenuLevel(children, 0)
                    </li>
                }
            }

            // lang selector
            // -------------
            IEnumerable<IPublishedContent> langs = Model.SiteSettingsContent.GetPropertyValue<IEnumerable<IPublishedContent>>("langSelector");
            if (langs != null && langs.Any())
            {
                List<A8.UrlsAndLanguages> uls = A8.CommonUmbraco.UrlsAndLanguages(Model.Content);
                bool atLeastTwoLangs = false;
                StringBuilder sb = new StringBuilder();
                foreach (IPublishedContent lang in langs)
                {
                    A8.UrlsAndLanguages ul = uls.Where(x => x.LangCode.ToLower() == lang.GetCulture().TwoLetterISOLanguageName.ToLower()).FirstOrDefault();
                    if (!ul.IsCurrentLanguage)
                    {
                        atLeastTwoLangs = true;
                        // TODO - fix friendly url for details
                        sb.Append("<li><a href=\"" + ul.Url + ((Model.CatalogueDetailId > 0 && !ul.NoRelation) ? Model.CatalogueDetailId.ToString() + "-" : string.Empty) + "\">" + ul.LangCode.ToUpper() + "</a></li>");
                    }
                }

                if (atLeastTwoLangs)
                {
                    <li class="language-switcher">
                        <a>
                            <span>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" class="svg-inline--fa fa-globe fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 496 512"><path fill="currentColor" d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"></path></svg>
                                @Model.Content.GetCulture().TwoLetterISOLanguageName.ToUpper()
                            </span>
                        </a>
                        <ul>
                            @Html.Raw(sb.ToString())
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</nav>
<a class="responsive-menu-toggle" href="#"><i class="fa fa-bars"></i></a>