﻿<div class="iframeWrapper">
    <iframe name="iframe1" class="iframeContent"  id="Hangfireiframe" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"
            src="/hangfire/" allowfullscreen="true" style="width:100%!important"
            webkitallowfullscreen="true" mozallowfullscreen="true"
            oallowfullscreen msallowfullscreen="true"></iframe>
</div>

