﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IPublishedContent imageFile = Model.Content.GetPropertyValue<IPublishedContent>("imageFile");
    if (imageFile == null)
    {
        return;
    }

    string alt = Model.Content.GetPropertyValue<string>("alt");
    string layout = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("layout").SavedValue, "land-4-3", true);
    string title = Model.Content.GetPropertyValue<string>("title");
    string description = Model.Content.GetPropertyValue<string>("description");
    bool noMagnify = Model.Content.GetPropertyValue<bool>("noMagnify");

    A8.MediaImage image = A8.MediaImages.LoadMediaImage(imageFile, alt, title, description);

    Newtonsoft.Json.Linq.JObject linkData = Model.Content.GetPropertyValue<Newtonsoft.Json.Linq.JObject>("link");

    string link = string.Empty;

    if (linkData != null)
    {
        link = A8.CommonUmbraco.GenerateLink(linkData) + " class=\"r-image__link\"";
    }
    else if (!noMagnify)
    {
        link = "href=\"/imagelib/2560-orig" + image.Url + "\" class=\"r-image__link magnify-image\"";
    }

    int maxImgSize = A8.Common.CheckNum(ViewData["maxImgSize"]);
}

<div class="r-item r-image">
    @Html.Raw(link.Length > 0 ? "<a " + link + ">" : string.Empty)
    @Html.Raw(A8.Common.GeneratePictureTag(image.Url, layout, image.Alt, image.Title, "r-image__image lazyload", maxImgSize))
    @Html.Raw(link.Length > 0 ? "</a>" : string.Empty)
</div>
@* add description in separate div in content flow *@