.r-attachment {
  + .r-attachment {
    margin-top: -20px;
  }

  &__link {
    display: flex;
    align-items: center;

    &:focus,
    &:hover {
      text-decoration: none;

      .r-attachment {
        &__file-size {
          text-decoration: none;
        }
      }
    }
  }

  &__image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__title {
    margin-right: 5px;
  }

  &__file-size {
    font-size: smaller;
    color: #999999;
    white-space: nowrap;
  }
}