.r-collapsible {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 5px 10px;
    margin-bottom: 0;
    transition: background-color 300ms ease-out;
    cursor: pointer;

    &:hover {
      background-color: darken(#f5f5f5, 6);
    }
  }

  &__content {
    padding: 5px 10px;
  }
}