@content-grid-gap: 20px;

.r-content-grid {
  @media (min-width: @sm-breakpoint) {
    display: flex;
    margin-left: -@content-grid-gap / 2;
    margin-right: -@content-grid-gap / 2;
  }

  &__item {
    margin-bottom: @content-grid-gap / 2;

    @media (min-width: @sm-breakpoint) {
      margin-left: @content-grid-gap / 2;
      margin-right: @content-grid-gap / 2;
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--20 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'20% - @{content-grid-gap}');
      }
    }

    &--25 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'25% - @{content-grid-gap}');
      }
    }

    &--33 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'33.33% - @{content-grid-gap}');
      }
    }

    &--40 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'40% - @{content-grid-gap}');
      }
    }

    &--50 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'50% - @{content-grid-gap}');
      }
    }

    &--60 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'60% - @{content-grid-gap}');
      }
    }

    &--66 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'66.66% - @{content-grid-gap}');
      }
    }

    &--75 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'75% - @{content-grid-gap}');
      }
    }

    &--80 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 calc(~'80% - @{content-grid-gap}');
      }
    }

    &--100 {
      @media (min-width: @sm-breakpoint) {
        flex: 1 1 1calc(~'00% - @{content-grid-gap}');
      }
    }
  }
}