@gallery-grid-gap: 10px;

.r-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -@gallery-grid-gap / 2;
  margin-right: -@gallery-grid-gap / 2;

  &--slider {
    /* Different style for slider setting */
    display: block;
    margin-left: 0;
    margin-right: 0;

    .slick-slider {
      margin-bottom: 90px;
    }

    .slick-arrow {
      position: absolute;
      top: calc(~'100% + 10px');
    }

    .slick-prev {
      right: calc(~'50% + 2px');
    }

    .slick-next {
      left: calc(~'50% + 2px');
    }

    .r-gallery {
      &__item {
        padding: 0 5px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  + .r-gallery {
    margin-top: -30px; /* It should be the same as @spacing-between-renders or `.r-item` margin-bottom in renders.less */
  }

  &__item {
    flex: 1 0 calc(~'25% - @{gallery-grid-gap}'); /* Change 25% if you would like to change max numbers of items per row */
    margin-left: @gallery-grid-gap / 2;
    margin-right: @gallery-grid-gap / 2;
    margin-bottom: @gallery-grid-gap;

    &--same-width {
      flex: 0 0 calc(~'25% - @{gallery-grid-gap}'); /* Change 25% if you would like to change max numbers of items per row */
    }
  }

  &__image {
    display: block;
  }
}