.r-heading {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }
}