.r-links {
  &--vertical {
    display: flex;
    flex-direction: column;

    &.r-links--left {
      align-items: flex-start;
    }

    &.r-links--right {
      align-items: flex-end;
    }

    &.r-links--center {
      align-items: center;
    }
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}