@menu-grid-gap: 30px;

.r-menu-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -@menu-grid-gap / 2;
  margin-right: -@menu-grid-gap / 2;

  &--align-center {
    justify-content: center;
  }

  /* Maybe we could add settings in the future for maximum number of columns in the row.
  &--max-2-columns {
    .r-menu-grid__item {
      flex: 0 0 calc(~'50% - @{menu-grid-gap}');
    }
  }

  &--max-3-columns {
    .r-menu-grid__item {
      flex: 0 0 calc(~'33.33% - @{menu-grid-gap}');
    }
  }

  &--max-4-columns {
    .r-menu-grid__item {
      flex: 0 0 calc(~'25% - @{menu-grid-gap}');
    }
  }

  &--max-5-columns {
    .r-menu-grid__item {
      flex: 0 0 calc(~'20% - @{menu-grid-gap}');
    }
  }
  */

  &__item {
    flex: 0 0 calc(~'33.33% - @{menu-grid-gap}');
    margin-left: @menu-grid-gap / 2;
    margin-right: @menu-grid-gap / 2;
    margin-bottom: @menu-grid-gap;
    min-width: 300px;
  }

  &__image {
    display: block;
  }

  &__content {
    padding-top: 15px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 6px;
  }

  &__description {
    line-height: 1.5;
  }

  &__button {
    margin-bottom: 0;
  }
}