@spacing-between-renderers: 30px;

.r-item {
  margin-bottom: @spacing-between-renderers;

  /* Nested last item is without spacing */
  .r-item {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  /* Standard layout last item has bigger spacing. */
  &:last-of-type {
    margin-bottom: @spacing-between-renderers * 2;
  }

  /* Full width and full width stretched last item is without spacing. */
  &.r-section--full-width,
  &.r-section--full-width-stretched {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  /* Full width and full width stretched renderers are without spacing between them. */
  &.r-section--full-width,
  &.r-section--full-width-stretched {
    + .r-item.r-section--full-width,
    + .r-item.r-section--full-width-stretched {
      margin-top: -@spacing-between-renderers;
    }
  }
}