.r-spacer {
  display: inline-block;

  &--line {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
  }
}

#Footer .r-spacer--line {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}