.r-table {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;

    tr {
      &:nth-child(even) {
        background-color: #fdfdfd;
      }
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      text-align: left;
      border: 1px solid #dddddd;
      padding: 10px;
      vertical-align: middle;
    }

    p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &--full-width {
    table {
      width: 100%;
    }
  }

  &--borderless {
    table {
      tr {
        &:nth-child(even) {
          background-color: transparent;
        }
      }

      th,
      td {
        border: 0;
        padding: 2px 10px 2px 2px;
      }
    }
  }
}