.r-tabs {
  &__titles {
    display: flex;
    margin-bottom: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: background-color 300ms ease-out;
    cursor: pointer;

    &:hover {
      background-color: darken(#f5f5f5, 6);
    }

    &--active {
      background-color: darken(#f5f5f5, 6);
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}