.r-text {
  &--small {
    font-size: 90%;

    p {
      font-size: 90%;
    }
  }

  &--emphasis {
    font-size: 110%;

    p {
      font-size: 110%;
    }
  }

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}