.r-video {
  position: relative;
  height: 0;

  &--16-9 {
    padding-top: 56.25%; /* 9/16 = 0.5625 */
  }

  &--4-3 {
    padding-top: 75%; /* 3/4 = 0.75 */
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}