﻿<div class="umb-panel" ng-controller="A8.Dialogs.LinkPickerController">
    <div class="umb-panel-body no-header with-footer compact">
        <umb-pane>
            <umb-control-group label="Url">
                <input type="text"
                       placeholder="Enter custom url..."
                       class="umb-editor umb-textstring"
                       ng-model="target.url"
                       ng-disabled="target.id" />&nbsp;<i ng-click="clear()" ng-show="target.id" title="Clear" class="fa fa-times" aria-hidden="true"></i>
            </umb-control-group>

            <umb-control-group label="Params">
                <input type="text"
                       placeholder="Enter a querystring/hashtarget..."
                       class="umb-editor umb-textstring"
                       ng-model="target.querystring" />
            </umb-control-group>

            <div ng-hide="dialogData.hideTitleField">
                <umb-control-group label="Link title">
                    <input type="text"
                           placeholder="Enter a title..."
                           class="umb-editor umb-textstring"
                           ng-model="target.name" />
                </umb-control-group>
            </div>

            <umb-control-group label="@content_target">
                <select class="umb-editor umb-dropdown" ng-model="target.target">
                    <option value="_self">This window</option>
                    <option value="_blank">New window</option>
                </select>
            </umb-control-group>

        </umb-pane>

        <umb-tree-search-box hide-search-callback="hideSearch"
                             search-callback="onSearchResults"
                             search-from-id="{{searchInfo.searchFromId}}"
                             search-from-name="{{searchInfo.searchFromName}}"
                             show-search="{{searchInfo.showSearch}}"
                             section="{{section}}">
        </umb-tree-search-box>

        <br />

        <umb-tree-search-results ng-if="searchInfo.showSearch"
                                 results="searchInfo.results"
                                 select-result-callback="selectResult">
        </umb-tree-search-results>

        <div ng-hide="searchInfo.showSearch">
            <umb-tree section="content"
                      hideheader="true"
                      hideoptions="true"
                      eventhandler="dialogTreeEventHandler"
                      isdialog="true"
                      enablecheckboxes="true">
            </umb-tree>
        </div>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">Cancel</a>

                <a href ng-click="switchToMediaPicker()" class="btn">Link to file</a>

                <button class="btn btn-primary"
                        ng-click="submit(target)">
                    Select
                </button>
            </div>
        </div>
    </div>

    <umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view">
    </umb-overlay>
</div>
