﻿<div ng-controller="TinyMiceTableEditorController" class="table-editor">

	<div ng-if="visible">
		<ng-form>
			<umb-editor model="macroRte"></umb-editor>
		</ng-form>
	</div>

	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
			<div class="btn-toolbar umb-btn-toolbar pull-right">
				<a href ng-click="close()" class="btn btn-link">Cancel</a>

				<button class="btn btn-primary"
						ng-click="submit(model.value)">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>