﻿.a8keyvaluepairs {
    display: inline-block;
    width: 100%;
}

    .a8keyvaluepairs ul[dnd-list] .dndPlaceholder {
        background-color: #f1f1f1;
        display: block;
        min-height: 10px;
    }

    .a8keyvaluepairs ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    .a8keyvaluepairs ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .a8keyvaluepairs li {
        margin-bottom: 10px;
    }

    .a8keyvaluepairs .keyvalue__key {
        width: 25%;
    }
    .a8keyvaluepairs .keyvalue__value {
        width: 65%;
    }

    .a8keyvaluepairs span.keyvalue {
        display: inline-block;
    }

    .a8keyvaluepairs .keyvalueadd {
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;
        border-top: solid 1px #c0c0c0;
    }

    .a8keyvaluepairs .spacer {
        display: inline-block;
        padding: 6px 18px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        color: transparent;
    }
