﻿<div ng-controller="linkedPageDialogController as vm"
     class="linkedPagesDialog">

    <div class="umb-dialog-body">
        <div class="umb-pane">
            <div ng-if="!vm.loaded">
                <umb-load-indicator></umb-load-indicator>
            </div>

            <div ng-if="vm.loaded">

                <div ng-if="vm.relationCount > 0">
                    <p class="abstract">
                        The current page <strong>{{vm.nodeName}}</strong> is linked to the following
                        <span ng-if="vm.relationCount > 1">{{vm.relationCount}} pages</span>
                        <span ng-if="vm.relationCount == 1">page</span>
                    </p>
                </div>
                <div ng-if="vm.relationCount == 0">
                    The current page {{vm.nodeName}} is not linked to any other
                    pages on the site.
                </div>


                <div ng-if="vm.parents.length > 0">
                    <h5>Parent Links</h5>
                    <p><em>You can only remove parent links from the parent node</em>                        </p>

                    <div ng-repeat="item in vm.parents"
                         class="linked-page-info">
                        <div><strong>{{item.Name}}</strong></div>
                        <em>{{item.Path}}</em>
                    </div>
                </div>


                <h5>Linked Pages</h5>
                <div ng-repeat="item in vm.children"
                     class="linked-page-info">

                    <div class="linked-page-info-text">
                        <div><strong>{{item.Name}}</strong></div>
                        <em>{{item.Path}}</em>
                    </div>

                    <div class="linked-page-action">
                        <a href prevent-default ng-click="vm.removeLink(item.RelationId)">
                            <localize key="general_remove">Remove</localize>
                        </a>
                    </div>
                </div>

                <a class="linked-page-info linked-page-add"
                   ng-click="vm.addLink()" href prevent-default>
                    <i class="icon icon-add"></i> Add
                </a>

            </div>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button class="btn btn-primary" ng-click="nav.hideDialog()">
            <localize key="general_ok">OK</localize>
        </button>
    </div>
</div>