<div class="embedded-content" ng-controller="DisPlay.Umbraco.EmbeddedContent.EmbdeddedContentController as ctrl" ng-show="ctrl.contentReady" ng-class="{'item-has-settings': ctrl.itemHasSettings}">

  <div class="embedded-content__title-bar">
    <div class="embedded-content__title-bar-title">{{ctrl.label}}</div>

    <div class="embedded-content__has-config" ng-if="ctrl.hasConfig">
      <localize key="grid_settingsApplied" />
    </div>

    <div class="embedded-content__tools">
       <div class="embedded-content__tools-tool" ng-if="ctrl.hasSettings">
         <i class="icon icon-settings" title="@embeddedContent_settings" localize="title" ng-click="ctrl.editSettings()"></i>
       </div>
    </div>
  </div>
  <div class="embedded-content__description" ng-bind-html="ctrl.description"></div>

  <div ui-sortable="ctrl.sortableOptions" ng-model="model.value">
    <div class="embedded-content__item"
         ng-class="{
          'embedded-content__item--active': item.active || ctrl.config.enableCollapsing === '0'
         }"
         ng-repeat="item in model.value track by item.key"
         ng-form>

      <div class="embedded-content__control-bar" ng-click="ctrl.toggle(item)">
          <div class="embedded-content__item-title">
              <i class="icon {{item.icon}}"></i>
              <small class="embedded-content__content-type-name">{{item.contentTypeName}}</small>
              <span>{{item.name | limitTo: 200}}{{item.name.length > 200 ? '...' : ''}}</span>
          </div>
        <div class="embedded-content__has-config" ng-if="item.hasConfig">
          <localize key="grid_settingsApplied" />
        </div>
        <div class="embedded-content__tools">
          <div class="embedded-content__tools-tool" ng-hide="item.deletePrompt">
            <label class="embedded-content__switch" ng-click="$event.stopPropagation();">
              <input type="checkbox" name="published" ng-model="item.published" />
              <span class="embedded-content__switch-label" data-on="On" data-off="Off"></span>
              <span class="embedded-content__switch-handle"></span>
            </label>
          </div>
          <div class="embedded-content__tools-tool">
            <i class="embedded-content__tools-icon icon-trash" ng-click="ctrl.togglePrompt(item, $event)"></i>
            <umb-confirm-action
              ng-if="item.deletePrompt"
              direction="left"
              on-confirm="ctrl.remove($index)"
              on-cancel="ctrl.hidePrompt(item)">
            </umb-confirm-action>
          </div>
          <div class="embedded-content__tools-tool">
            <i class="icon icon-settings" title="@embeddedContent_settings" localize="title" ng-if="item.settingsTab" ng-click="ctrl.editSettings(item, $event)"></i>
          </div>
        </div>
      </div>
      <div ng-show="item.active || ctrl.config.enableCollapsing === '0'" ng-if="item.loaded || ctrl.config.enableCollapsing === '0'">
        <div class="embedded-content__item-content-header" ng-if="item.allowEditingName">
          <input type="text"
                 required
                 class="embedded-content__item-name"
                 placeholder="@placeholders_entername"
                 localize="placeholder"
                 ng-model="item.name"
                 ng-class="{'embedded-content__item-name--empty': !item.name}" />
        </div>
        <div class="embedded-content__item-content-body">
          <div ng-repeat="tab in item.tabs track by tab.alias">
            <div class="embedded-content__section-title" ng-if="item.tabs.length > 1">{{tab.label}}</div>
            <div class="embedded-content__properties">
              <embedded-content-property ng-repeat="property in tab.properties track by property.alias" property="property" embedded-content-item="item" set-files="ctrl.setFiles(files)">
              </embedded-content-property>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="embedded-content__placeholder"
       ng-class="{'embedded-content__placeholder--small': model.value.length > 0}"
       ng-click="ctrl.openContentTypeOverlay($event)"
       ng-show="ctrl.canAdd()">
    <div class="embedded-content__add"><localize key="embeddedContent_addContent" /></div>
  </div>

  <input type="hidden" name="minItems" ng-model="model">
  <input type="hidden" name="maxItems" ng-model="model">

  <div class="help-inline" val-msg-for="minItems" val-toggle-msg="minItems">
      You need to add at least {{ctrl.config.minItems - model.value.length}} more item(s)
  </div>

  <div class="help-inline" val-msg-for="maxItems" val-toggle-msg="maxItems">
      You can only have {{ctrl.config.maxItems}} item(s) selected
  </div>

  <umb-overlay
    ng-if="ctrl.contentTypeOverlay.show"
    model="ctrl.contentTypeOverlay"
    view="ctrl.contentTypeOverlay.view"
    position="{{ctrl.config.groups.length ? 'right' : 'target'}}">
  </umb-overlay>

  <umb-overlay
    ng-if="ctrl.editSettingsOverlay.show"
    model="ctrl.editSettingsOverlay"
    view="ctrl.editSettingsOverlay.view"
    position="right">
  </umb-overlay>
</div>

