﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");
    ViewDataDictionary viewData = new ViewDataDictionary();
    viewData.Add("clientId", clientId);

    IEnumerable<IPublishedContent> items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");
    int itemsPerRow = Model.Content.GetPropertyValue<int>("itemsPerRow");

    if (items == null || !items.Any())
    {
        return;
    }

    bool slider = Model.Content.GetPropertyValue<bool>("slider");
}

<div class="r-item r-gallery r-gallery--@(slider ? "slider" : "grid") magnify-gallery">
    @if (slider)
    {
        A8.ContentFlowModel rendererModel = new A8.ContentFlowModel()
        {
            ContentItems = items,
            CustomModel = itemsPerRow
        };
        @Html.Partial("~/Views/Partials/Renderers/Gallery/GallerySlider.cshtml", rendererModel, viewData)
        }
    else
    {
        A8.ContentFlowModel rendererModel = new A8.ContentFlowModel()
        {
            ContentItems = items,
            CustomModel = itemsPerRow
    };
        @Html.Partial("~/Views/Partials/Renderers/Gallery/GalleryGrid.cshtml", rendererModel, viewData)
    }
</div>