﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string width = "standard"; // full-width, stretched, standard
    // posible styling
    string style = "red"; // or for-kids
}

<div class="r-item r-section r-section--@(width) @(width != "standard" ? "r-section--style-" + style : string.Empty)">
    @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", new A8.ContentFlowModel()
    {
        ContentItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content")
    })
</div>
