﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    IEnumerable<IPublishedContent> items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");

    if (items == null || !items.Any())
    {
        return;
    }

    int openedIdx = 0;
    bool opened = false;
    bool isOpenedSet = false;

    string title = string.Empty;
    string anchor = string.Empty;

        <div class="r-item r-tabs r-tabs_@(clientId)">

                <ul class="r-tabs__titles">
                    @for (int i = 0; i <= items.Count() - 1; i++)
                    {
                        opened = items.ElementAt(i).GetPropertyValue<bool>("opened");
                        if (!isOpenedSet && opened)
                        {
                            openedIdx = i;
                            isOpenedSet = true;
                        }
                        title = items.ElementAt(i).GetPropertyValue<string>("title");
                        anchor = items.ElementAt(i).GetPropertyValue<string>("anchor");
                        <li class="r-tabs__title" rel="r-tabs-title-@(i)" data-hash="@HttpUtility.HtmlEncode(anchor)">@(title)</li>
                    }
                </ul>

                <div class="r-tabs__contents">
                    @for (int i = 0; i <= items.Count() - 1; i++)
                    {
                        <div class="r-tabs__content r-tabs-title-@(i)">
                            @{
                                A8.ContentFlowModel rendererModel = new A8.ContentFlowModel()
                                {
                                    ContentItems = items.ElementAt(i).GetPropertyValue<IEnumerable<IPublishedContent>>("content")
                                };
                                @Html.Partial("~/Views/Partials/Renderers/ContentFlow/ContentFlow.cshtml", rendererModel)
                            }
                        </div>
                    }
                </div>

        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $(".r-tabs_@(clientId)").tabs({
                    active_tab: @(openedIdx)
                });
            });
        </script>
}