﻿<div ng-controller="A8.HtmlTableFormatterController">
    <div id="a8TableFormatterWrapper-{{timestamp}}" data-ident="{{timestamp}}" class="a8-table-wrapper">
        <div id="a8TableFormatterContent-{{timestamp}}" class="a8-table-content"></div>
        <small>Width can be set either as 50% or 50 (in px). Other settings: L (left), C (center), R (right), T (top), M (middle), B (bottom), W (break word)</small>
        <textarea ng-model="model.value" class="a8-table-textarea"></textarea>
    </div>
</div>
