﻿@using Umbraco.Web.Templates
@model IPublishedContent

<div class="r-events-list">
    @{
        A8.Catalogues.EventsFilter f = new A8.Catalogues.EventsFilter();
        //string[] filterType = Model.GetPropertyValue<string>("catalogueType")?.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
        string catalogueType = Model.GetPropertyValue<string>("catalogueType");
        f.EventType = catalogueType;
        f.ApplyExcludedFromList = true;

        // consider next scenario
        // allways get eg. last 20 news
        // then create archive by month
        // this way query will not be longer than 20 or by-month

        List<A8.Catalogues.Event> items = A8.Catalogues.Events.LoadAllEvents(f);
        if (items != null && items.Any())
        {
            string pageUrl = Request.RawUrl;
            int page = A8.Common.RequestAnyInt("page");
            int pageSize = 20; // TODO: hard coded for now
            int totalPages = A8.Common.CheckNum(Math.Ceiling((double)items.Count() / (double)pageSize));
            if (page > totalPages)
            {
                page = totalPages;
            }
            else if (page < 1)
            {
                page = 1;
            }

            // get landing page url
            string landingPageUrl = A8.LayoutFunctions.GetCatalogueLandingPage("eventsList", catalogueType)?.Url ?? "javascript:;";

            foreach (A8.Catalogues.Event item in items.Skip((page - 1) * pageSize).Take(pageSize))
            {
                <a class="events-list-item" href="@(landingPageUrl)@(item.Id)-@(A8.Common.StringToUrlSafe(item.Name))">
                    <div class="events-list-item__image">
                        @Html.Raw(A8.Common.GeneratePictureTag(item.Image, "land-4-3", item.Name, item.Name, "lazyload", 640))
                    </div>
                    <div class="events-list-item__content">
                        <div>@Html.Raw((item.Location.Length > 0 ? item.Location + ", " : string.Empty) + A8.Common.DateFromToAsString(item.DateFromTo.DateFrom, item.DateFromTo.DateTo, false))</div>
                        <h4>@(item.Name)</h4>
                        <div>@Html.Raw(item.Summary)</div>
                        <div class="btn btn-primary">@(A8.CommonUmbraco.Translate("general.more"))</div>
                    </div>
                </a>
            }
            @Shared.Helpers.GeneratePager(pageUrl, page, totalPages)
        }
        else
        {
            <div class="no-items">@A8.CommonUmbraco.Translate("general.no_items")</div>
        }
    }
</div>