﻿div.not-published > i.icon {
    position: relative;
}

    div.not-published > i.icon::after {
        content: "";
        display: block;
        height: 1px;
        width: 20px;
        background-color: #000000;
        position: absolute;
        left: 0px;
        top: 10px;
        transform: rotate(135deg);
    }

div.menuItemHidden {
    opacity: 0.6;
}

.mce-i-pluginName:before {
    content: "\e020"
}
