<div class="umb-panel form-editor-edit-field" ng-controller="FormEditor.Editor.FieldController">
  <div class="umb-panel-body no-header with-footer umb-scrollable">
    <div class="umb-control-group">
      <div class="tab-content form umb-el-wrap">
        <form-editor-field-header></form-editor-field-header>

		<div class="umb-pane">
			<form-editor-field-basics></form-editor-field-basics>

			<label class="control-label" for="urlParameter">
				<form-editor-localize key="a8.custom.date.urlParameter">URL parameter</form-editor-localize>
				<small form-editor-localize key="a8.custom.date.urlParameter.helpText"></small>
			</label>
			<input type="text" id="urlParameter" ng-model="dialogData.field.urlParameter" />

			<form-editor-field-mandatory></form-editor-field-mandatory>
			<form-editor-field-error-message></form-editor-field-error-message>
		</div>
      </div>
    </div>
  </div>

  <form-editor-field-footer></form-editor-field-footer>
</div>