﻿<!--
  this is the editor that will be used to configure our field.
  our field configuration is passed to the editor in the property: dialogData.field.
-->
<div class="umb-panel form-editor-edit-field" ng-controller="FormEditor.Editor.FieldController">
	<div class="umb-panel-body no-header with-footer umb-scrollable">
		<div class="umb-control-group">
			<div class="tab-content form umb-el-wrap">
				<!--
				  this directive displays the header for our editor.
				-->
				<form-editor-field-header></form-editor-field-header>

				<div class="umb-pane">
					<!--
					  this directive takes care of name, label and help text configuration for our field.
					-->
					<form-editor-field-basics></form-editor-field-basics>

					<!--
					  these are the custom properties for our field configuration.
					  they are automatically passed to our editor as part of the dialogData.field property:
					  - dialogData.field.minimum
					  - dialogData.field.maximum
					  - dialogData.field.step
					-->

					<label class="control-label" for="urlParameter">
						<form-editor-localize key="a8.custom.hidden.urlParameter">URL parameter</form-editor-localize>
						<small form-editor-localize key="a8.custom.hidden.urlParameter.helpText"></small>
					</label>
					<input type="text" id="urlParameter" ng-model="dialogData.field.urlParameter" />

					<!--
					  this directive takes care of mandatory validation configuration for our field.
					-->
					<form-editor-field-mandatory></form-editor-field-mandatory>

					<!--
					  this directive takes care of the field error message configuration for our field.
					-->
					<form-editor-field-error-message></form-editor-field-error-message>
				</div>
			</div>
		</div>
	</div>

	<!--
	  this directive displays the footer for our editor.
	-->
	<form-editor-field-footer></form-editor-field-footer>
</div>