﻿<div class="umb-panel form-editor-edit-field" ng-controller="FormEditor.Editor.FieldController">
	<div class="umb-panel-body no-header with-footer umb-scrollable">
		<div class="umb-control-group">
			<div class="tab-content form umb-el-wrap">
				<form-editor-field-header></form-editor-field-header>

				<div class="umb-pane">
					<form-editor-field-basics></form-editor-field-basics>
					<form-editor-field-placeholder></form-editor-field-placeholder>

					<label class="control-label" for="maxLength">
						<form-editor-localize key="edit.maxLength">Max length</form-editor-localize>
						<small form-editor-localize key="edit.maxLength.helpText">Max number of characters allowed (0 = unlimited)</small>
					</label>
					<input type="number" min="0" id="maxLength" ng-model="dialogData.field.maxLength" />

					<label class="control-label" for="urlParameter">
						<form-editor-localize key="a8.custom.textbox.urlParameter">URL parameter</form-editor-localize>
						<small form-editor-localize key="a8.custom.textbox.urlParameter.helpText"></small>
					</label>
					<input type="text" id="urlParameter" ng-model="dialogData.field.urlParameter" />

					<label class="control-label" for="isReadOnly">
						<form-editor-localize key="a8.custom.textbox.urlParameter">Is read only</form-editor-localize>
						<small form-editor-localize key="a8.custom.textbox.urlParameter.helpText"></small>
					</label>
					<input type="checkbox" id="isReadOnly" ng-model="dialogData.field.isReadOnly" />

					<form-editor-field-mandatory></form-editor-field-mandatory>
					<form-editor-field-error-message></form-editor-field-error-message>
				</div>
			</div>
		</div>
	</div>

	<form-editor-field-footer></form-editor-field-footer>
</div>