﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string code = Model.Content.GetPropertyValue<string>("code");
    string aspectRatio = A8.Common.CheckStr(Model.Content.GetPropertyValue<nuPickers.Picker>("aspectRatio").SavedValue, "16-9", true);
    bool autoplay = Model.Content.GetPropertyValue<bool>("autoplay");
    bool loop = Model.Content.GetPropertyValue<bool>("loop");
    bool controls = Model.Content.GetPropertyValue<bool>("controls");
    bool mute = false;

    if (autoplay)
    {
        mute = true;
        controls = true;
    }
}

@(Shared.Helpers.GetYoutubeIframe(clientId, code, aspectRatio, autoplay ? 1 : 0, mute ? 1 : 0, controls ? 1 : 0, loop ? 1 : 0))

<!--
<iframe class="" src="https://www.youtube.com/embed/QQZhATTCtOs?
    rel=0&
    enablejsapi=1&
    version=3&
    playerapiid=ytplayer&
    autoplay=0&
    mute=0&
    controls=0&
    loop=1&
    keyboard=0&
    modestbranding=1&
    branding=0&
    autohide=1&
    start=1&
    playlist=QQZhATTCtOs"
    frameborder="0"
    allowfullscreen
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
</iframe>
-->
