<div class="umb-editor umb-listview form-editor-data" ng-controller="FormEditor.Editor.DataController" ng-switch="dataState">
  <p form-editor-localize key="data.text">
    The submissions for your form are listed in the table below.
  </p>
  <div class="row-fluid" ng-switch-when="loading">
    <span class="dimmed" form-editor-localize key="data.loadingData">
      Loading submissions...
    </span>
  </div>
  <div class="row-fluid no-data" ng-switch-when="no-data">
    <i class="icon icon-info dimmed">
      <small class="dimmed dimmed-hover" form-editor-localize="" key="data.noData">No submissions found</small>
    </i>
  </div>
  <div class="row-fluid" ng-switch-when="data">
    <div class="form-data">
      <table class="table table-striped">
        <thead ng-show="model.data.rows.length">
          <tr>
            <td class="select">
              <input type="checkbox" ng-click="selectAll()" ng-checked="allSelected()">
            </td>
            <td ng-if="supportsApproval" class="toggle-approval">
              <!-- header column for approval -->
            </td>
            <td>
              <a href ng-click="sort('_created')" form-editor-localize key="data.sortSubmittedDate">
                Date
              </a>
            </td>
            <td ng-repeat="field in model.data.fields" ng-show="isFieldVisible(field)">
              <a href ng-click="sort('{{field.sortName}}')">
                {{field.name}}
              </a>
            </td>
            <td ng-show="hasHiddenFields()" />
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in model.data.rows track by $index" ng-class="{selected:row.selected, loading: row._actionInProgress}" ng-click="viewEntry($index)">
            <td>
              <input type="checkbox" ng-model="row.selected" no-dirty-check ng-click="$event.stopPropagation();">
            </td>
            <td ng-if="supportsApproval" class="approval-{{row._approval}} toggle-approval" ng-click="toggleApproval(row, $event)">
              <i class="icon icon-any"></i>
            </td>
			<td class="date" title="{{row._createdDateLong}}">
				{{row._createdDateLong}}
			</td>
            <td ng-repeat="value in row.values track by $index" ng-bind-html-unsafe="value" ng-show="isFieldVisible(model.data.fields[$index])"></td>
            <td class="form-data-view-entry" ng-show="hasHiddenFields()">
              <i class="icon icon-right-double-arrow dimmed"></i>
            </td>
          </tr>
          <!-- at the time of writing, the only case in which model.data.rows.length == 0 is when the user searched for something that had no matches -->
          <tr ng-show="!model.data.rows.length">
            <td colspan="2">
              <div class="no-data">
                <i class="icon icon-info dimmed">
                  <small class="dimmed dimmed-hover" form-editor-localize key="data.noSearchResults">No search results</small>
                </i>                
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="model.data.totalPages > 1">
          <tr>
            <th colspan="{{model.data.fields.length + 3}}">
              <div class="pagination pagination-left">
                <ul>
                  <li>
                    <a href ng-click="goToPage(model.data.currentPage - 1)" form-editor-localize key="data.pagePrevious">Previous</a>
                  </li>

                  <li ng-repeat="pageNumber in model.data.pages" ng-class="{active:pageNumber==model.data.currentPage}">
                    <a href ng-click="goToPage(pageNumber)">{{pageNumber}}</a>
                  </li>

                  <li>
                    <a href ng-click="goToPage(model.data.currentPage + 1)" form-editor-localize key="data.pageNext">Next</a>
                  </li>
                </ul>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="form-data-search" ng-show="supportsSearch">
      <i class="icon icon-search" ng-class="{'icon-hourglass': actionInProgress}"></i>
      <input type="text" class="umb-editor" id="searchQuery" ng-model="model.searchQuery" ng-change="search()" no-dirty-check />
    </div>
    <div class="form-data-tools" ng-switch="hasSelection()">
      <div class="btn-group" ng-switch-when="false">
        <a class="btn btn-success" ng-disabled="actionInProgress" href="/umbraco/backoffice/FormEditorApi/Download/DownloadData/{{getDocumentId()}}" form-editor-localize key="data.exportAllToCsv">
          Export to CSV
        </a>
      </div>
      <div class="btn-group" ng-switch-when="true">
        <a class="btn btn-success" ng-disabled="actionInProgress" href="/umbraco/backoffice/FormEditorApi/Download/DownloadData/{{getDocumentId()}}?rowIds={{getSelectedIds().join()}}" form-editor-localize key="data.exportSelectedToCsv">
          Export selected to CSV
        </a>
      </div>
      <div class="btn-group" ng-switch-when="true">
        <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="deleteSelected()" form-editor-localize key="data.deleteSelected">
          Delete selected
        </a>
      </div>
      <div class="btn-group" ng-default>
        <a class="btn" ng-disabled="actionInProgress" ng-click="selectFields()" form-editor-localize key="data.visibleFields.header">
          Choose visible form fields
        </a>
      </div>
      <div class="btn-group" ng-show="supportsStatistics">
        <a class="btn" ng-disabled="actionInProgress" ng-click="showStatistics()" form-editor-localize key="data.statistics.header">
          Statistics
        </a>
      </div>
    </div>
  </div>
  <div class="form-data-tools" ng-show="supportsExpiry">
    <label class="control-label" for="daysBeforeExpiry" form-editor-localize key="data.daysBeforeExpiry">
      Days to keep submissions
    </label>
    <div class="controls controls-row">
      <input type="number" class="umb-editor" id="daysBeforeExpiry" ng-model="model.value.daysBeforeSubmissionExpiry" min="1">
      <small class="help-text" form-editor-localize key="data.daysBeforeExpiry.helpText">Enter the number of days to keep form submissions before they're automatically deleted. Leave empty to disable automatic deletion.</small>
    </div>
  </div>

  <script type="text/ng-template" id="data.viewEntry.html">
    <div class="umb-panel form-editor-data-entry">
      <div class="umb-panel-body no-header with-footer umb-scrollable">
        <div class="umb-control-group">
          <div class="tab-content form umb-el-wrap">

            <h4 form-editor-localize key="data.viewEntry.header" default-value="All fields for form entry" />

            <div class="umb-pane">
              <div>
                <span class="entry-field" form-editor-localize key="data.sortSubmittedDate">
                  Date
                </span>
                <span class="entry-value">
                  {{dialogData.row._createdDateLong}}
                </span>
              </div>
              <div ng-repeat="field in dialogData.fields track by $index">
                <span class="entry-field">
                  {{field.name}}
                </span>
                <span class="entry-value" ng-bind-html-unsafe="dialogData.row.values[$index]">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
          <div class="btn-toolbar umb-btn-toolbar pull-right">
            <button ng-click="close()" class="btn" form-editor-localize key="edit.close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="data.selectFields.html">
    <div class="umb-panel">
      <div class="umb-panel-body no-header with-footer umb-scrollable">
        <div class="umb-control-group">
          <div class="tab-content form umb-el-wrap">
            <div class="umb-pane">
              <h4 form-editor-localize key="data.visibleFields.header" default-value="Choose visible form fields" />
              <p form-editor-localize key="data.visibleFields.text">
                Select the form fields you want displayed in the table. If you choose to hide one or more form fields, you can click the rows in the table to see all fields for the form entries.
              </p>
              <div ng-repeat="fieldConfiguration in dialogData.fieldConfigurations">
                <label class="checkbox">
                  <input type="checkbox" ng-model="fieldConfiguration.selected" />
                  {{fieldConfiguration.field.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
          <div class="btn-toolbar umb-btn-toolbar pull-right">
            <button ng-click="submit(dialogData)" class="btn btn-primary" form-editor-localize key="edit.ok">OK</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="data.statistics.html">
    <div class="umb-panel">
      <div class="umb-panel-body no-header with-footer umb-scrollable">
        <div class="umb-control-group">
          <div class="tab-content form umb-el-wrap">
            <div class="umb-pane" ng-controller="FormEditor.Editor.StatisticsController">
              <h4 form-editor-localize key="data.statistics.header" default-value="Statistics" />
              <div ng-if="fields == null" form-editor-localize key="data.statistics.loadingData">Loading the statistics...</div>
              <div ng-if="fields != null">
                <form-editor-localize key="data.statistics.totalRows">Total number of entries:</form-editor-localize> <strong>{{totalRows}}</strong>
              </div>
              <div ng-if="fields != null && fields.length == 0">
                <h5 form-editor-localize key="data.statistics.noStatisticsHeader">No statistics available</h5>
                <p form-editor-localize key="data.statistics.noStatisticsText">
                  The form submissions currently have no statistics available.
                </p>
              </div>
              <div ng-repeat="field in fields">
                <h5>{{field.name}}</h5>
                <!-- google charts API requires the graph container height to be inline... -->
                <div id="{{field.formSafeName}}" style="height: 400px;">
                  <div ng-show="loading" class="stats-loading" form-editor-localize key="data.statistics.loadingGraph">Drawing the graph...</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
          <div class="btn-toolbar umb-btn-toolbar pull-right">
            <button ng-click="close()" class="btn" form-editor-localize key="edit.close">Close</button>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>

<script type="text/ng-template" id="formEditor.expandableHeader.html">
  <h5 class="expandable" ng-click="expandable.expanded = !expandable.expanded">
    <i class="icon icon-navigation-{{expandable.expanded ? 'down' : 'right'}} dimmed"></i>
    <form-editor-localize key="{{headerTextKey}}">{{headerTextDefault}}</form-editor-localize>
    <small ng-show="!expandable.expanded">(<form-editor-localize key="common.clickToExpand">click to expand</form-editor-localize>)</small>
  </h5>
</script>
