﻿@using Umbraco.Core;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@using Umbraco.Web;

@* globally accesible html functions *@

@helper HtmlRaw(string s)
{
    /**/
    @(new HtmlString(s))
}

@helper CalendarImg()
{
    <svg version="1.1" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
        <path class="calendar-icon-svg" d="m2 0v1h-0.5c-0.82253 0-1.5 0.67747-1.5 1.5v9c0 0.82253 0.67747 1.5 1.5 1.5h10c0.82253 0 1.5-0.67747 1.5-1.5v-9c0-0.82253-0.67747-1.5-1.5-1.5h-0.5v-1h-1v1h-7v-1zm-0.5 2h0.5v1h1v-1h7v1h1v-1h0.5c0.28147 0 0.5 0.21853 0.5 0.5v1.5h-11v-1.5c0-0.28147 0.21853-0.5 0.5-0.5zm-0.5 3h11v6.5c0 0.28147-0.21853 0.5-0.5 0.5h-10c-0.28147 0-0.5-0.21853-0.5-0.5zm3 1v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm-8 2v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm-8 2v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1z" style="isolation:auto;mix-blend-mode:normal;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none" />
    </svg>
}

@helper GetAddThis()
{
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d2c610f992cb367"></script>
    <div class="addthis_inline_share_toolbox"></div>
}

@helper GetYoutubeIframe(string clientId, string code, string aspectRatio = "4-3", int autoplay = 0, int mute = 1, int controls = 1, int loop = 1)
{
    <div class="r-item r-video r-video--@(aspectRatio)">
        <iframe id="@(clientId)" class="r-video__video video-youtube"
                src="https://www.youtube.com/embed/@(code)?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer&autoplay=@(autoplay)&mute=@(mute)&controls=@(controls)&loop=@(loop)&keyboard=0&modestbranding=1&branding=0&autohide=1&start=1&iv_load_policy=3&playlist=@(code)"
                frameborder="0"
                allowfullscreen
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
}

@helper GeneratePager(string pageUrl, int currentPage, int totalPages)
{
    var startPage = currentPage - 5;
    var endPage = currentPage + 4;
    if (startPage <= 0)
    {
        endPage -= (startPage - 1);
        startPage = 1;
    }
    if (endPage > totalPages)
    {
        endPage = totalPages;
        if (endPage > 10)
        {
            startPage = endPage - 9;
        }
    }

    <!-- pager -->
    if (endPage > 1)
    {
        <ul class="pager">
            @if (currentPage > 1)
            {
                <li>
                    <a href="@(A8.Common.RemoveQueryParameter(pageUrl, "page"))">&lt;&lt;</a>
                </li>
                <li>
                    <a href="@(A8.Common.UpdateQueryParameter(pageUrl, "page", (currentPage - 1).ToString()))">&lt;</a>
                </li>
            }

            @for (var page = startPage; page <= endPage; page++)
            {
                <li class="@(page == currentPage ? "active" : "")">
                    <a href="@(A8.Common.UpdateQueryParameter(pageUrl, "page", page.ToString()))">@page</a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li>
                    <a href="@(A8.Common.UpdateQueryParameter(pageUrl, "page", (currentPage + 1).ToString()))">&gt;</a>
                </li>
                <li>
                    <a href="@(A8.Common.UpdateQueryParameter(pageUrl, "page", totalPages.ToString()))">&gt;&gt;</a>
                </li>
            }
        </ul>
    }
}
