﻿<div ng-controller="A8ClearCacheController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <h1 class="umb-headline">Clear cache</h1>
            </div>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">

                    <div class="btn-group">
                        <div class="btn" ng-click="clearCache()">Clear cache</div>
                    </div>

                </div>
            </div>
        </div>
    </umb-panel>
</div>