body {
    &.no-scroll {
        overflow-y: hidden;
    }
}

.container .container {
    padding-left: 0;
    padding-right: 0;
}

.container.form-receipt {
    padding: 90px 0;
}

.loading-overlay {
    display: none;
    background: #c0c0c0 url('/images/loader-gray.gif') center center no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    z-index: 99999999;
}

.iframe-nohover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-wrapper {
    display: block;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper-gallery {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.video-wrapper-gallery iframe {
    position: absolute;
    top: 0;
    left: -50%;
    bottom: 0;
    right: 0;
    width: 190%;
    height: 100%;
}
