/* Margin bottom for all the headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 30px;

	/* Different margin for tags without additional line height bellow the h tag. */
	+ pre,
	+ table {
		margin-top: 40px;
	}
}

/* Margin bottom for all the paragraphs. */
p,
dl,
ul,
ol,
address,
blockquote,
form {
	margin-top: 0;
	margin-bottom: 30px;

	/* Different margin for heading below the paragraph. */
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: 75px;
  }

	/* Different margin for images bellow the p tag. */
	+ pre,
	+ table {
		margin-top: 40px;
	}
}

/* Margin bottom for all the tags without additional line height. */
pre,
table,
.embed-responsive {
	margin-top: 0;
	margin-bottom: 40px;

	/* Different margin for heading below the tags without additional line height. */
	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: 85px;
	}
}
