/* Colors */
@green: #51A8B1;
@blue: #bde3f7;
@red: #ff0000;
@brown-light: #d4c6a9;
@gray: #626262;
@gray-dark: #62635D;

@primary-color: @green;
@body-color: @gray;
@heading-color: @gray-dark;

/* Fonts */
@primary-font: "Barlow Semi Condensed", Arial, Tahoma, sans-serif;

/* Grid */

/* Grid breakpoints */
@xs-breakpoint: 0;
@sm-breakpoint: 576px;
@md-breakpoint: 768px;
@lg-breakpoint: 992px;
@xl-breakpoint: 1200px;
@xxl-breakpoint: 1800px;

/* Grid containers */
@sm-container-size: 540px;
@md-container-size: 720px;
@lg-container-size: 960px;
@xl-container-size: 1140px;
@xxl-container-size: 1670px;

@grid-gap: 30px;