﻿@using Umbraco.Web.Models;
@using System.Linq;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.PageBaseModel>

@{
    Layout = "MasterPage.cshtml";

    A8.CommonUmbraco.AddBodyAttribute("class", "v-first-page home page-template-default page template-slider color-custom style-default button-flat layout-full-width if-zoom if-border-hide no-content-padding hide-love header-creative minimalist-header-no ab-hide subheader-both-left menu-link-color mobile-tb-center mobile-side-slide mobile-mini-mr-lc mobile-header-mini");

    //A8.CommonUmbraco.AddHeadElements("zztop", "<meta property=\"zz\" content=\"top\" />");
}

<div id="Wrapper">
    <div id="Header_wrapper" style="position:relative;">
        @{
            IEnumerable<IPublishedContent> bannerImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("bannerImages");
            if (bannerImages != null && bannerImages.Any())
            {
                string bannerVideo = Model.Content.GetPropertyValue<string>("bannerVideo");
                IPublishedContent oBannerVideoThumb = Model.Content.GetPropertyValue<IPublishedContent>("bannerVideoThumb");

                <div class="fp-banner-slick">
                    @foreach (IPublishedContent bannerImage in bannerImages)
                    {
                        <div class="fp-banner-slick__item">
                            @Html.Raw(A8.Common.GeneratePictureTag(bannerImage.Url, "land-16-9", string.Empty, string.Empty, "fp-banner-slick__image", 2560))
                        </div>
                    }
                </div>
                <div class="fp-banner-slick__content">
                    <h2 class="fp-banner-slick__title">@(Model.Content.GetPropertyValue<string>("bannerTitle"))</h2>
                    <div class="fp-banner-slick__description">@(Model.Content.GetPropertyValue<string>("bannerSummary"))</div>
                    @if (bannerVideo.Length > 0)
                    {
                        <div class="fp-banner-slick__video-container">
                            <a class="magnify-video fp-banner-slick__video-link" href="https://www.youtube.com/watch?v=@(bannerVideo)">
                                <i class="fp-banner-play-icon fa fa-play"></i>
                                <img class="fp-banner-slick__video-image" src="@(oBannerVideoThumb != null ? "/imagelib/640-land-4-3" + oBannerVideoThumb.Url : "http://img.youtube.com/vi/" + bannerVideo + "/1.jpg")" />
                            </a>
                        </div>
                    }

                    @{
                        IEnumerable<IPublishedContent> bannerLinks = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("bannerLinks");
                        if (bannerLinks != null && bannerLinks.Any())
                        {
                            <div class="fp-banner-slick__button-container">
                                @{
                                    foreach (IPublishedContent bannerLink in bannerLinks)
                                    {
                                        Newtonsoft.Json.Linq.JObject linkData = bannerLink.GetPropertyValue<Newtonsoft.Json.Linq.JObject>("link");
                                        if (linkData == null)
                                        {
                                            continue;
                                        }

                                        string linkType = A8.Common.CheckStr(bannerLink.GetPropertyValue<nuPickers.Picker>("linkType")?.SavedValue, "primary", true);

                                        string linkTitle = A8.CommonUmbraco.GenerateLinkTitle(linkData);
                                        string linkUrl = A8.CommonUmbraco.GenerateLink(linkData);

                                        <a class="btn btn-@(linkType) fp-banner-slick__button" @Html.Raw(linkUrl)>@Html.Raw(linkTitle)</a>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.fp-banner-slick').slick({
                lazyLoad: 'ondemand',
                dots: false,
                arrows: false,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000,
                fade: true,
                cssEase: 'linear',
                pauseOnFocus: false,
                pauseOnHover: false
            });
        });
    </script>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">

                    @{ IEnumerable<IPublishedContent> contentItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");
                        if (contentItems != null && contentItems.Any())
                        {
                            foreach (IPublishedContent contentItem in contentItems)
                            {
                                switch (contentItem.DocumentTypeAlias)
                                {
                                    case "fpContentPicker":
                                        {
                                            <!--div class="section mcb-section" style="padding-top:220px;padding-bottom:70px;background-color:#D4C6A9;margin-top: -150px;"-->
                                            <div class="section mcb-section" style="padding-top:220px;padding-bottom:50px;margin-top: -150px;">
                                                <div class="section_wrapper mcb-section-inner">
                                                    <div class="wrap mcb-wrap one valign-top clearfix">
                                                        <div class="mcb-wrap-inner">
                                                            <div class="column mcb-column three-fourth column_column">
                                                                <div class="column_attr clearfix">
                                                                    <h2>
                                                                        @(contentItem.GetPropertyValue<string>("title"))
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                            <div class="column mcb-column one column_portfolio">
                                                                <div class="column_filters">
                                                                    <div class="portfolio_wrapper isotope_wrapper">
                                                                        <ul class="portfolio_group lm_wrapper isotope col-3 grid">
                                                                            @{
                                                                                IEnumerable<IPublishedContent> items = contentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("picker");
                                                                                if (items != null && items.Any())
                                                                                {
                                                                                    foreach (IPublishedContent item in items)
                                                                                    {
                                                                                        // get image from pagesettings
                                                                                        IPublishedContent pageSummary = item.GetPropertyValue<IPublishedContent>("pageSummary");
                                                                                        IPublishedContent oImage = pageSummary?.GetPropertyValue<IPublishedContent>("image");
                                                                                        string image = oImage?.Url ?? string.Empty;
                                                                                        image = (image.Length > 0 ? "/imagelib/640-land-4-3" + image : "https://via.placeholder.com/640x480?text=?");

                                                                                        <li class="portfolio-item isotope-item has-thumbnail">
                                                                                            <div class="portfolio-item-fw-bg">
                                                                                                <div class="image_frame scale-with-grid">
                                                                                                    <div class="image_wrapper">
                                                                                                        <a href="@(item.Url)">
                                                                                                            <img src="@(image)" class="scale-with-grid wp-post-image" alt="@HttpUtility.HtmlEncode(item.Name)" title="@HttpUtility.HtmlEncode(item.Name)">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="desc">
                                                                                                    <div class="title_wrapper">
                                                                                                        <h5 class="entry-title"><a class="link" href="@(item.Url)">@(item.Name)</a></h5>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </li>
                                                                                    }
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    case "fpInfoSegment":
                                        {
                                            <div class="section mcb-section" style="padding-top:0;padding-bottom:0px;position:relative;z-index: 1;">
                                                <div class="section_wrapper mcb-section-inner">
                                                    <div class="useful-info">
                                                        <div class="useful-info__main-item useful-info__main-item--opening-time">
                                                            <div class="useful-info__title-container">
                                                                <div class="useful-info__title">
                                                                    @(contentItem.GetPropertyValue<string>("workingHoursTitle"))
                                                                </div>
                                                                <div class="useful-info__image-container">
                                                                    <img class="scale-with-grid" src="/images/garden4/garden4_pic23.png">
                                                                </div>
                                                            </div>
                                                            <div class="useful-info__item-container">
                                                                @{
                                                                    Newtonsoft.Json.Linq.JArray workingHoursItems = contentItem.GetPropertyValue<Newtonsoft.Json.Linq.JArray>("workingHours");
                                                                    if (workingHoursItems != null && workingHoursItems.Any())
                                                                    {
                                                                        foreach (Newtonsoft.Json.Linq.JObject item in workingHoursItems)
                                                                        {
                                                                            <div class="useful-info__item">
                                                                                <div class="useful-info__text">
                                                                                    @(item.Property("key").Value.ToString() )
                                                                                </div>
                                                                                <div class="useful-info__description">
                                                                                    @(item.Property("value").Value.ToString())
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="useful-info__main-item useful-info__main-item--pricing">
                                                            <div class="useful-info__title-container">
                                                                <div class="useful-info__title">
                                                                    @(contentItem.GetPropertyValue<string>("pricelistTitle"))
                                                                </div>
                                                                <div class="useful-info__image-container">
                                                                    <img class="scale-with-grid" src="/images/garden4/garden4_pic24.png">
                                                                </div>
                                                            </div>
                                                            <div class="useful-info__item-container">
                                                                @{
                                                                    Newtonsoft.Json.Linq.JArray pricelistItems = contentItem.GetPropertyValue<Newtonsoft.Json.Linq.JArray>("pricelist");
                                                                    if (pricelistItems != null && pricelistItems.Any())
                                                                    {
                                                                        foreach (Newtonsoft.Json.Linq.JObject item in pricelistItems)
                                                                        {
                                                                            <div class="useful-info__item">
                                                                                <div class="useful-info__text">
                                                                                    @(item.Property("key").Value.ToString() )
                                                                                </div>
                                                                                <div class="useful-info__description">
                                                                                    @(item.Property("value").Value.ToString())
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    case "ecJumbotron":
                                        {
                                            <div class="section mcb-section equal-height-wrap bg-cover rbi" style="padding-top:360px;padding-bottom:80px;color: #ffffff;background-repeat:no-repeat;background-position:center;background-attachment:fixed;background-size:cover;-webkit-background-size:cover;">
                                                @{
                                                    IPublishedContent image = contentItem.GetPropertyValue<IPublishedContent>("image");
                                                    if (image != null)
                                                    {
                                                        @Html.Raw(A8.Common.GeneratePictureTag(image.Url, "land-16-9", string.Empty, string.Empty, string.Empty, 2560, true));
                                                    }
                                                }
                                                <div class="footer-banner section_wrapper mcb-section-inner">
                                                    <h2 style="color: #ffffff">@(contentItem.GetPropertyValue<string>("title"))</h2>
                                                    <p>
                                                        @(contentItem.GetPropertyValue<string>("subTitle"))
                                                    </p>
                                                    @{A8.ContentFlowModel rendererModel = new A8.ContentFlowModel()
                                                        {
                                                            Content = contentItem
                                                        };
                                                        @Html.Partial("~/Views/Partials/Renderers/Links/Links.cshtml", rendererModel)
                                                    }
                                                </div>
                                            </div>
                                            break;
                                        }
                                    case "fpNewsPicker":
                                        {
                                            <div class="section mcb-section" style="padding-top:70px;padding-bottom:70px;">
                                                <div class="section_wrapper mcb-section-inner">
                                                    <div class="news">
                                                        <div class="news__title-container">
                                                            <h2 class="news__main-title">
                                                                @(contentItem.GetPropertyValue<string>("title"))
                                                            </h2>
                                                            @{
                                                                // get new landing page url
                                                                string landingPageUrl = A8.LayoutFunctions.GetCatalogueLandingPage("newsList", "catalogue.news.type.general")?.Url ?? string.Empty;
                                                                if (landingPageUrl.Length > 0)
                                                                {
                                                                    <a class="news__cta btn btn-secondary" href="@(landingPageUrl)">
                                                                        @(A8.CommonUmbraco.Translate("general.more"))&nbsp;<i class="fa fa-chevron-right"></i>
                                                                    </a>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="news__item-container">
                                                            @{
                                                                // holder
                                                                List<A8.Catalogues.OneNews> items = new List<A8.Catalogues.OneNews>();

                                                                // from picker
                                                                List<A8.Catalogues.OneNews> fromPicker = A8.Catalogues.News.LoadPickerNews(contentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("picker"));
                                                                items.AddRange(fromPicker);

                                                                // from lastN
                                                                int lastN = contentItem.GetPropertyValue<int>("picker");
                                                                if (lastN > 0)
                                                                {
                                                                    A8.Catalogues.NewsFilter f = new A8.Catalogues.NewsFilter();
                                                                    f.LastN = lastN;
                                                                    List<A8.Catalogues.OneNews> fromLastN = A8.Catalogues.News.LoadAllNews(f);
                                                                    items.AddRange(fromLastN);
                                                                }

                                                                if (items.Any())
                                                                {
                                                                    foreach (A8.Catalogues.OneNews item in items)
                                                                    {
                                                                        <a class="news__item" href="@(landingPageUrl)@(item.Id)-@(A8.Common.StringToUrlSafe(item.Name))">
                                                                            <div class="news__image-container">
                                                                                @Html.Raw(A8.Common.GeneratePictureTag(item.Image, "land-4-3", item.Name, item.Name, "news__image lazyload", 640))
                                                                            </div>
                                                                            <div class="news__content">
                                                                                <div class="news__date">
                                                                                    @(item.Date.ToString("dd.MM.yyyy"))
                                                                                </div>
                                                                                <h3 class="news__title">
                                                                                    @(item.Name)
                                                                                </h3>
                                                                                <div class="news__description">
                                                                                    @Html.Raw(item.Summary)
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    case "fpTwoImagesSegment":
                                        {
                                            <div class="section mcb-section" style="padding-top:70px;padding-bottom:0px;background-color:#D4C6A9">
                                                <div class="section_wrapper mcb-section-inner">
                                                    <div class="wrap mcb-wrap mcb-wrap-vqertl1eh one valign-top clearfix">
                                                        <div class="mcb-wrap-inner">
                                                            <div class="column mcb-column three-fourth column_column">
                                                                <div class="column_attr clearfix">
                                                                    <h2 style="color: #ffffff; margin-bottom: 0;">@(contentItem.GetPropertyValue<string>("title"))</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="section mcb-section equal-height-wrap" style="padding-top:0px;padding-bottom:0px;background-color:#D4C6A9;background-repeat:repeat-x;background-position:center bottom;">
                                                <div class="section_wrapper mcb-section-inner">
                                                    <div class="wrap mcb-wrap one-second valign-bottom clearfix" style="padding:0 9% 0 0">
                                                        <div class="mcb-wrap-inner">
                                                            <div class="column mcb-column one column_column">
                                                                <div class="column_attr clearfix">
                                                                    <p style="color: #ffffff;">
                                                                        @(contentItem.GetPropertyValue<string>("summary"))
                                                                    </p>
                                                                    @{
                                                                        Newtonsoft.Json.Linq.JObject link = contentItem.GetPropertyValue<Newtonsoft.Json.Linq.JObject>("link");
                                                                        if (link != null)
                                                                        {
                                                                            <a class="btn btn-primary" @Html.Raw(A8.CommonUmbraco.GenerateLink(link))>@(A8.CommonUmbraco.Translate("general.more"))&nbsp;<i class="fa fa-chevron-right"></i></a>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="column mcb-column one column_image">
                                                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                                    <div class="image_wrapper">
                                                                        @{
                                                                            string imageLeft = contentItem.GetPropertyValue<IPublishedContent>("imageLeft")?.Url ?? string.Empty;
                                                                            if (imageLeft.Length > 0)
                                                                            {
                                                                                <a href="/imagelib/2560-orig@(imageLeft)" class="magnify-image">
                                                                                    @Html.Raw(A8.Common.GeneratePictureTag(imageLeft, "port", string.Empty, string.Empty, "scale-with-grid lazyload", 1360))
                                                                                </a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wrap mcb-wrap one-second valign-bottom clearfix">
                                                        <div class="mcb-wrap-inner">
                                                            <div class="column mcb-column one column_image">
                                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                                    <div class="image_wrapper">
                                                                        @{
                                                                            string imageRight = contentItem.GetPropertyValue<IPublishedContent>("imageRight")?.Url ?? string.Empty;
                                                                            if (imageRight.Length > 0)
                                                                            {
                                                                                <a href="@(imageRight)" class="magnify-image">
                                                                                    @Html.Raw(A8.Common.GeneratePictureTag(imageRight, "port", string.Empty, string.Empty, "scale-with-grid lazyload", 1360))
                                                                                </a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }
                                }
                            }
                        }
                    }

                    </!--div>
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Partials/Parts/Footer/Footer.cshtml", Model)
    </div>


