﻿@using Umbraco.Web.Models;
@using System.Linq;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.PageBaseModel>
@{
    Layout = "MasterPage.cshtml";

    A8.CommonUmbraco.AddBodyAttribute("class", "v-search home page-template-default page template-slider color-custom style-default button-flat layout-full-width if-zoom if-border-hide no-content-padding hide-love header-creative minimalist-header-no ab-hide subheader-both-left menu-link-color mobile-tb-center mobile-side-slide mobile-mini-mr-lc mobile-header-mini");

    string query = HttpUtility.UrlDecode(A8.Common.RequestAny("q"));
    string showQuery = query;
    query = query.Replace("<", string.Empty).Replace(">", string.Empty);

    List<A8.CatalogueListItem> resultItems = new List<A8.CatalogueListItem>();

    if (!string.IsNullOrEmpty(query))
    {
        List<IPublishedContent> allItems = A8.CommonUmbraco.Search(query).Where(
            x => x.IsVisible()
            && !x.GetPropertyValue<bool>("excludeFromSearch")
            ).ToList();

        if (allItems != null && allItems.Any())
        {
            // filter out content items
            IEnumerable<string> contentPageAliases = new[] { "firstPage", "commonPage", "cataloguePage" };
            List<IPublishedContent> contentItems = allItems.Where(
                x => x.Path.Contains(A8.CommonUmbraco.GetFirstPageContent().Id.ToString()) &&
                contentPageAliases.Contains(x.DocumentTypeAlias)
                ).ToList();
            if (contentItems != null && contentItems.Any())
            {
                foreach (IPublishedContent item in contentItems)
                {
                    string image = string.Empty;
                    string title = string.Empty;
                    string summary = string.Empty;
                    if (item.HasProperty("pageSummary"))
                    {
                        IPublishedContent pageSummary = item.GetPropertyValue<IPublishedContent>("pageSummary");
                        if (pageSummary != null)
                        {
                            title = pageSummary.GetPropertyValue<string>("title");
                            summary = pageSummary.GetPropertyValue<string>("text");
                            IPublishedContent oImage = pageSummary.GetPropertyValue<IPublishedContent>("image");
                            if (oImage != null)
                            {
                                image = oImage.Url;
                            }
                        }
                    }
                    if (title.Length == 0)
                    {
                        title = item.Name;
                    }

                    resultItems.Add(new A8.CatalogueListItem(
                        item.Id,
                        item.DocumentTypeAlias,
                        image, // image
                        string.Empty, // dateAsString
                        title,
                        A8.Common.ShortenWholeWord(A8.Common.Detag(summary), 150),
                        item.Url));
                }
            }

            // filter out catalogue items
            IEnumerable<string> cataloguePageAliases = new[] { "cat_OneNews", "cat_Event" };
            List<IPublishedContent> catalogueItems = allItems.Where(
                x => cataloguePageAliases.Contains(x.DocumentTypeAlias)
                ).ToList();
            if (catalogueItems != null && catalogueItems.Any())
            {
                foreach (IPublishedContent item in catalogueItems)
                {
                    A8.CatalogueListItem catalogueItem = A8.LayoutFunctions.GetCatalogueListItem(item, Model.Content.Id);
                    if (catalogueItem != null)
                    {
                        resultItems.Add(catalogueItem);
                    }
                }
            }

        }
    }
}

<div id="Wrapper">
    <div id="Header_wrapper">
        <header id="Header"></header>
        <div id="Subheader" class="rbi">
            @{
                IPublishedContent headerImage = Model.Content.GetPropertyValue<IPublishedContent>("headerImage");
                if (headerImage != null)
                {
                    @Html.Raw(A8.Common.GeneratePictureTag(headerImage.Url, "land-16-9", string.Empty, string.Empty, string.Empty, 2560, true))
                }
            }
            <div class="container">
                <div class="column one">
                    <h1 class="title">@(Model.Content.Name)</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="container">
            @Html.Partial("~/Views/Partials/Parts/Breadcrumbs/Breadcrumbs.cshtml", Model)

            <div class="search search__title">
                @(A8.CommonUmbraco.Translate("general.search_results_for")) <strong>@HttpUtility.HtmlEncode(Html.Raw(showQuery))</strong>
            </div>

            <div class="search search__results">
                @if (resultItems.Any())
                {
                    string pageUrl = Request.RawUrl;
                    int page = A8.Common.RequestAnyInt("page");
                    int pageSize = 20; // TODO: hard coded for now
                    int totalPages = A8.Common.CheckNum(Math.Ceiling((double)resultItems.Count() / (double)pageSize));

                    if (page > totalPages)
                    {
                        page = totalPages;
                    }
                    else if (page < 1)
                    {
                        page = 1;
                    }

                    foreach (A8.CatalogueListItem resultItem in resultItems.Skip((page - 1) * pageSize).Take(pageSize))
                    {
                        <a class="search-list-item" href="@Html.Raw(resultItem.LinkMore)">
                            <div class="search-list-item__image">
                                @Html.Raw(A8.Common.GeneratePictureTag(resultItem.Image, "land-4-3", resultItem.Title, resultItem.Title, "lazyload", 640))
                            </div>
                            <div class="search-list-item__content">
                                @*<div>date as string</div>*@
                                <h4>@(resultItem.Title)</h4>
                                <div>@(resultItem.Summary)</div>
                                <div class="btn btn-primary">@(A8.CommonUmbraco.Translate("general.more"))</div>
                            </div>
                        </a>
                    }
                    @Shared.Helpers.GeneratePager(pageUrl, page, totalPages)
                }
                else
                {
                    <div class="no-results">
                        @A8.CommonUmbraco.Translate("general.no_results")
                    </div>
                }
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Partials/Parts/Footer/Footer.cshtml", Model)
</div>