﻿<?xml version="1.0" encoding="UTF-8" ?>
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Response.ContentType = "text/xml";

    var selection = Model.Content.Site().Children
        .Where(x => x.IsVisible())
        .Where(x => x.DocumentTypeAlias == "firstPage");
}
<sitemapindex xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd">
    @{
        if (selection.Any())
        {
            foreach (var item in selection)
            {
                <sitemap>
                    <loc>@(item.Url)sitemap/</loc>
                </sitemap>
            }
        }
    }
</sitemapindex>