﻿@model A8.PageBaseModel

@{
    List<IPublishedContent> breadcrumbs = Model.Content.AncestorsOrSelf().Where(x => x.Level >= 2 && x.IsVisible() == true).Reverse().ToList();

    if (breadcrumbs != null && breadcrumbs.Any())
    {
        <div class="p-breadcrumbs">
            @for (int i = 0; i <= breadcrumbs.Count - 1; i++)
            {
                if (i == 0)
                {
                    <a class="p-breadcrumbs__item p-breadcrumbs__item--link" href="@breadcrumbs[i].Url"><span class="fa fa-home"></span></a>
                }
                else if (i == breadcrumbs.Count - 1)
                {
                    if (Model.CatalogueDetailId > 0)
                    {
                        <a class="p-breadcrumbs__item p-breadcrumbs__item--link" href="@breadcrumbs[i].Url">@breadcrumbs[i].Name</a>
                        <span class="p-breadcrumbs__item p-breadcrumbs__item--active">@(Model.PageHtmlTitle)</span>
                    }
                    else
                    {
                        <span class="p-breadcrumbs__item p-breadcrumbs__item--active">@breadcrumbs[i].Name</span>
                    }
                }
                else
                {
                    <a class="p-breadcrumbs__item p-breadcrumbs__item--link" href="@breadcrumbs[i].Url">@breadcrumbs[i].Name</a>
                }
            }
        </div>
    }
}