﻿@using Umbraco.Web.Templates
@model A8.ContentFlowModel

@{
    string clientId = Model.Content.GetKey().ToString().Replace("-", "_");

    string rawHtml = Model.Content.GetPropertyValue<string>("rawHtml");
}

<div class="r-item r-rawhtml">
    @Html.Raw(rawHtml)
</div>