﻿.list-picker .button {
    margin: 0;
    padding: 0;
}

.list-picker .blue {
    color: #2196f3 !important;
}

.list-picker .red {
    color: #f44336 !important;
}

.list-picker [class*=" icon-"]:before, .list-picker [class^=icon-]:before {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
