﻿@using Umbraco.Web.Models
@model A8.PageBaseModel
@{
    string cnMessage = Model.SiteSettingsContent.GetPropertyValue<string>("cnMessage");
    string cnAgreeButton = Model.SiteSettingsContent.GetPropertyValue<string>("cnAgreeButton");
    string cnMoreButton = Model.SiteSettingsContent.GetPropertyValue<string>("cnMoreButton");
    string cnContent = Model.SiteSettingsContent.GetPropertyValue<string>("cnContent");
}

@if (cnMessage.Length > 0 && cnAgreeButton.Length > 0 && cnMoreButton.Length > 0 && cnContent.Length > 0)
{
    cnMessage += " <a href='javascript:;' onClick='OpenCn(" + Model.Content.Id + ")'>" + cnMoreButton + "</a>";
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.cookieconsent.initialise({
                showLink: false,
                palette: {
                    popup: {
                        background: "#edeff5",
                        text: "#838391"
                    },
                    button: {
                        background: "#5a5a5a",
                        text: "#ffffff"
                    }
                },
                theme: "corporate",
                content: {
                    message: "@Html.Raw(cnMessage)",
                    dismiss: "@cnAgreeButton"
                }
            })
        });
    </script>
}
