﻿@using Umbraco.Web.Models
@model A8.PageBaseModel
@{
    //
}

<div id="Header_creative" class="active">
    <a href="#" class="creative-menu-toggle"><i class="fa fa-bars"></i></a>
    <div class="creative-social">
    </div>
    <div class="creative-wrapper">

        <div id="Top_bar">
            <div class="one clearfix">
                <div class="top_bar_left">
                    <div class="logo">
                        <a id="logo" href="@(A8.CommonUmbraco.CurrentSiteLangUrl())">
                            <img class="logo__image" src="/images/logo_anin-dvor.png" srcset="/images/logo_anin-dvor@2x.png 2x" alt="Logo">
                        </a>
                    </div>
                    <div class="menu_wrapper">
                        @Html.Partial("~/Views/Partials/Parts/Menu/Menu.cshtml", Model)
                    </div>
                </div>
                <div class="top_bar_right">
                    <div class="top_bar_right_wrapper">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mobile menu placeholder -->
<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="fa fa-times"></i></a>
    </div>
    <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>
