﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.FormEditor.Fields.HiddenField>
<div action-field="@Model.FormSafeName">
	<input type="hidden" class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" value="@Model.Value" ng-model="formData.@Model.FormSafeName" />
</div>