﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<A8.FormEditor.Fields.DateField>

@{
    /**/

    string days = string.Empty;
    string daysShort = string.Empty;
    string daysMin = string.Empty;
    string months = string.Empty;
    string monthsShort = string.Empty;

    string lang = A8.CommonUmbraco.CurrentLanguageCode().ToLower();
    if (lang.Length == 0)
    {
        lang = "en";
    }
    switch (lang)
    {
        case "sl":
            {
                days = "['Nedelja', 'Ponedeljek', 'Torek', 'Sreda', 'Četrtek', 'Petek', 'Sobota']";
                daysShort = "['Ned', 'Pon', 'Tor', 'Sre', 'Čet', 'Pet', 'Sob']";
                daysMin = "['Ne', 'Po', 'To', 'Sr', 'Če', 'Pe', 'So']";
                months = "['Januar', 'Februar', 'Marec', 'April', 'Maj', 'Junij', 'Julij', 'Avgust', 'September', 'Oktober', 'November', 'December']";
                monthsShort = "['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Avg', 'Sep', 'Okt', 'Nov', 'Dec']";
                break;
            }
        case "de":
            {
                days = "['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag']";
                daysShort = "['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa']";
                daysMin = "['S', 'M', 'D', 'M', 'D', 'F', 'S']";
                months = "['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']";
                monthsShort = "['Jan', 'Feb', ' März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sept', 'Okt', 'Nov', 'Dez']";
                break;
            }
        case "it":
            {
                days = "['Domenica', 'Lunedi', 'Martedi', 'Mercoledi', 'Giovedi', 'Venerdi', 'Sabato']";
                daysShort = "['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab']";
                daysMin = "['D', 'L', 'M', 'M', 'G', 'V', 'S']";
                months = "['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre']";
                monthsShort = "['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic']";
                break;
            }
        case "hr":
            {
                days = "['Nedjelja', 'Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota']";
                daysShort = "['Ned', 'Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub']";
                daysMin = "['N', 'P', 'U', 'S', 'Č', 'P', 'S']";
                months = "['Siječanj', 'Veljača', 'Ožujak', 'Travanj', 'Svibanj', 'Lipanj', 'Srpanj', 'Kolovoz', 'Rujan', 'Listopad', 'Studeni', 'Prosinac']";
                monthsShort = "['Sij', 'Vel', 'Ožu', 'Tra', 'Svi', 'Lip', 'Srp', 'Kol', 'Ruj', 'Lis', 'Stu', 'Pro']";
                break;
            }
        case "ru":
            {
                days = "['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']";
                daysShort = "['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']";
                daysMin = "['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']";
                months = "['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Августейший', 'Сентябрь', 'Октября', 'Ноябрь', 'Декабрь']";
                monthsShort = "['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']";
                break;
            }
        default:
            {
                days = "['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']";
                daysShort = "['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']";
                daysMin = "['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa']";
                months = "['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']";
                monthsShort = "['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']";
                break;
            }
    }

}

<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
    <label for="@Model.FormSafeName">@Model.Label</label>
    <div class="input">
        <input type="text" class="form-control input-date" id="@Model.FormSafeName" name="@Model.FormSafeName" ng-model="formData.@Model.FormSafeName" @(Model.Mandatory ? "required" : null) value="@Model.Value" readonly="readonly" />
        <span class="input-calendar">@Shared.Helpers.CalendarImg()</span>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#@Model.FormSafeName').datepicker({
                autoHide: true,
                format: 'd. m. yyyy',
                weekStart: 1,
                days: @Html.Raw(days),
                daysShort: @Html.Raw(daysShort),
                daysMin: @Html.Raw(daysMin),
                months: @Html.Raw(months),
                monthsShort: @Html.Raw(monthsShort),
            });
        });
    </script>
    <div class="status">
        @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
        @Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
    </div>
</div>
