@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.RadioButtonGroupField>
<div class="form-group radio-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" action-field="@Model.FormSafeName">
    <label>@Model.Label</label>
    <div class="input">
        @foreach (var fieldValue in Model.FieldValues)
        {
            <div class="input-inner">
                <input type="radio" name="@Model.FormSafeName" ng-model="formData.@Model.FormSafeName" value="@fieldValue.Value" @(Model.Mandatory ? "required" : null) />
                <span class="checkmark"></span>
                <span class="label">@fieldValue.Value</span>
            </div>
        }
    </div>
    <div class="status">
        @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
        @Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
    </div>
</div>