@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.CheckboxField>
<div class="form-group checkbox @(Model.Mandatory ? "required" : null) @(Model.Invalid? "has-error" : null)" action-field="@Model.FormSafeName">

    <label>@Model.Label</label>
    <div class="input">
        <input type="checkbox" name="@Model.FormSafeName" ng-model="formData.@Model.FormSafeName" value="true" @(Model.Mandatory ? "required" : null) />
        <span class="checkmark"></span>
    </div>

    @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
    @Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")
</div>