@using FormEditor.Rendering
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.CheckboxGroupField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)" name="@Model.FormSafeName" ng-model="@Model.FormSafeName" action-field="@Model.FormSafeName">
    <label>@Model.Label</label>
    @foreach (var fieldValue in Model.FieldValues)
    {
        <div class="checkbox checkboxGroup">
            <label>@fieldValue.Value</label>
            <span class="niceCheckbox">
                <input type="checkbox" ng-checked="hasMultiSelectValue('@Model.FormSafeName', '@HttpUtility.JavaScriptStringEncode(fieldValue.Value)')" ng-click="toggleMultiSelectValue('@Model.FormSafeName', @ViewBag.FormEditorPageNumber, '@fieldValue.Value', @Model.Mandatory.ToString().ToLowerInvariant())" ng-init="@(Model.Mandatory && fieldValue == Model.FieldValues.First() && Model.HasDefaultValue() == false ? string.Format("setMultiSelectValidity('{0}', {1}, false)", Model.FormSafeName, ViewBag.FormEditorPageNumber) : null)" />
                <div class="checkboxVisual">
                    <div class="checkboxVisual-checked"><i class="fa fa-check"></i></div>
                    <div class="checkboxVisual-unchecked">&nbsp;</div>
                </div>
            </span>
        </div>
    }

    @Html.Partial("FormEditor/FieldsAsync/core.utils.helptext")
    @Html.Partial("FormEditor/FieldsAsync/core.utils.validationerror")

</div>

