.language-switcher {
  a {
    span {

      @media (min-width: @xl-breakpoint) {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }

    svg {
      width: auto;
      height: 16px;
      margin-right: 5px;
    }
  }
}