.r-news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;

  .news-list-item {
    flex: 0 0 calc(~'50% - 10px');
    display: block;
    color: @body-color;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;

    &:hover {
      text-decoration: none;
      color: @body-color;
    }
  }
}