.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__meta {
    display: inline-flex;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-top: 20px;
  }

  &__meta-item {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}