﻿/* responsive background image */
.rbi {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    text-shadow: 1px 0 8px black !important;
}

/* magnific popup video iframe twix */
.mfp-custom .mfp-content {
    max-width: 700px;
    height: 50%;
}

.portfolio_group .portfolio-item .desc {
    background-color: @brown-light !important;
}

.text-danger{
    color: red;
}