.useful-info {

    padding-bottom: 50px;

    @media (min-width: @md-breakpoint) {
        display: flex;
        padding-bottom: 100px;
    }

    &__main-item {
        flex: 1 0 0;
        color: #ffffff;
        padding: 20px 30px;

        &--opening-time {
            background-color: @primary-color;
        }

        &--pricing {
            background-color: @gray;
        }
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__image-container {
        max-width: 60px;
        height: auto;
    }

    &__title {
        font-size: 40px;
        line-height: 1;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }
}
