﻿<div ng-controller="A8.A8DictionaryPickerController">
    <select ng-model="model.value">
        <option value="">---</option>
        <option ng-repeat="x in options" value="{{x.Key}}" ng-selected="model.value == x.Key">{{x.Value}}</option>
    </select>
</div>
